{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "es2020": true,
    "browser": true,
    "jest": true,
    "worker": true,
    "node": true
  },
  "sourceType": "module"
}
